.wrapper {
  margin: 10vh auto;
  position: relative;
  width: 34vh;
  background-color: #f3f3f3;
  padding: 2em;
  border-radius: 20px;

  ul {
    padding-left: 1.5em;
    li {
      margin-bottom: 1em;
    };
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .column {
    color: rgb(37, 37, 37) !important;
    h3 {
      color: rgb(37, 37, 37) !important;
    }
  }
}
